.wrapperStyle {
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: tomato;
}

div {
  padding: 5px 0;
}
.title {
  font-size: 15px;
  color: hotpink;
}

.description {
  font-style: italic;
  font-weight: 400;
}
