.paraGenerator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

::placeholder {
  color: #99989d;
}

.paraInput {
  margin-bottom: 30px;
}

#paraLength {
  padding: 15px 15px;
  width: 500px;
  border: 1px solid #d3d3d3;
  color: black;
}

#submit {
  padding: 15px 15px;
  margin-left: 20px;
  border-radius: 15px;
  color: white;
  background-color: black;
  border: 0;
  cursor: pointer;
}
